*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.box{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-attachment: fixed;

}

#box1{
    background-image: url("https://wallpapercat.com/w/full/6/9/f/319983-3840x2160-desktop-4k-iron-man-background.jpg");
    background-position: center;
    background-size: cover;
    color: crimson;
}
#box2{
    background-image: url("https://cf-images.us-east-1.prod.boltdns.net/v1/static/5359769168001/0a823cb0-01a9-4835-a348-c64187783ccb/d37cb96c-805c-4aa2-9f2f-e62d9eb814c7/1280x720/match/image.jpg");
    background-position: top;
    background-size: cover;
}
#box3{
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTnM3wNOnJpR-QPgD2FWYN9-_GUsDiIg08M8A&s");
    background-position: center;
    background-size: cover;
}
#box4{
    background-image: url("https://cdn.marvel.com/content/2x/004tho_ons_mas_mob_04.jpg");
    background-position: center;
    background-size: cover;
}