*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-image: linear-gradient(pink,red);
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 100px;
    justify-content: center;
    align-content: center;
    gap:10px ;
    text-align: center; */
}

.outer>.inner{
    display: grid;
    grid-template-columns: 200px 200px 200px;
    grid-auto-rows: 100px;
    justify-content: center;
    align-content: center;
    gap:10px ;
    text-align: center;
    /* background-color: indianred; */
    height: 60%;
    width: 50%;
    border-radius: 20px;
}

.outer>.inner>.box{
    border: 2px solid crimson;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
   color:darkmagenta;
   border-radius: 20px;  
   /* border: none; */
    /* background-size: cover; */
    background-position: top;
    transition: all 0.5s ease-in 0.5s;
}

.inner>.box:hover{
    background-position:bottom;
}

.inner>#box1{
    grid-row: span 2;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJxPaXXymwNqNBw5zIFLeqzL6zK799vze45Q&s");
    /* background-size: cover; */
}

.inner>#box4{
    grid-column: span 2;
}