*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-image: linear-gradient(pink,green);
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer>.inner{
    height: 60%;
    width: 80%;
    background-color:aqua;
    border-radius: 20px;
    display: flex;
    justify-content:  center;
    align-items: center;
    gap: 20px;
}

.inner>h1{
    text-shadow: 4px 5px 6px black;
    animation: up_down 2s ease-in infinite alternate;
}

@keyframes up_down{
    from{
        transform: translate(0,-80px);
        color: blue;
    }
    to{
        transform: translate(0,80px);
        color: red;
    }
}

.inner>h1:nth-child(2){
    animation-delay: 0.2s;
}
.inner>h1:nth-child(3){
    animation-delay: 0.3s;
}
.inner>h1:nth-child(4){
    animation-delay: 0.4s;
}
.inner>h1:nth-child(5){
    animation-delay: 0.5s;
}


